<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="{% static 'pwicon.png' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <title>Puru world</title>
</head>
<body style="color:black;background-color: #d8d8d8; margin:0;" align="center">
{% include 'titleframe.html' %}
{% block titles %}
{% endblock %}
{% include 'intro.html' %}
{% block intro %}
{% endblock %}
{% include 'sharing frame.html' %}
{% block foot %}
{% endblock %}
</body>
</html>
